<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_72ea778deada2f2d0e050c2d9c01226f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_72ea778deada2f2d0e050c2d9c01226f" ></div>
        
</body>
<script>
    
    
            var map_72ea778deada2f2d0e050c2d9c01226f = L.map(
                "map_72ea778deada2f2d0e050c2d9c01226f",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 3,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_05b344ff58311eb86204cf9ef18c02d5 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_05b344ff58311eb86204cf9ef18c02d5.addTo(map_72ea778deada2f2d0e050c2d9c01226f);
        
    
            var marker_48b0e0f9211b9a833169c9da00b6dab2 = L.marker(
                [0.0, 0.0],
                {
}
            ).addTo(map_72ea778deada2f2d0e050c2d9c01226f);
        
    
        var popup_2ab65874f577346bea8a3c7452aaca65 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_52ddaef1f5fc5dde2d120e522e6165ca = $(`<div id="html_52ddaef1f5fc5dde2d120e522e6165ca" style="width: 100.0%; height: 100.0%;">No questions available.</div>`)[0];
                popup_2ab65874f577346bea8a3c7452aaca65.setContent(html_52ddaef1f5fc5dde2d120e522e6165ca);
            
        

        marker_48b0e0f9211b9a833169c9da00b6dab2.bindPopup(popup_2ab65874f577346bea8a3c7452aaca65)
        ;

        
    
    
            marker_48b0e0f9211b9a833169c9da00b6dab2.bindTooltip(
                `<div>
                     Error
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_d5ce64fe814d9d3f4a7b68aa35ff16bb = L.marker(
                [0.0, 0.0],
                {
}
            ).addTo(map_72ea778deada2f2d0e050c2d9c01226f);
        
    
        var popup_992a30968e718b97e4ee8a597704763c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec8a4017d4176a3e7c7072c04ff1ed81 = $(`<div id="html_ec8a4017d4176a3e7c7072c04ff1ed81" style="width: 100.0%; height: 100.0%;">Rounds Played: 6, Score: 1 🎯</div>`)[0];
                popup_992a30968e718b97e4ee8a597704763c.setContent(html_ec8a4017d4176a3e7c7072c04ff1ed81);
            
        

        marker_d5ce64fe814d9d3f4a7b68aa35ff16bb.bindPopup(popup_992a30968e718b97e4ee8a597704763c)
        ;

        
    
    
            marker_d5ce64fe814d9d3f4a7b68aa35ff16bb.bindTooltip(
                `<div>
                     Your Score
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0ac6fc99d8457c628f77adad2c610a01 = L.marker(
                [10.0, 0.0],
                {
}
            ).addTo(map_72ea778deada2f2d0e050c2d9c01226f);
        
    
        var popup_7fe1a91a22632c068d6f71be78856af5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_15d1f7b0d948e96ca81b6f3120c9a0d4 = $(`<div id="html_15d1f7b0d948e96ca81b6f3120c9a0d4" style="width: 100.0%; height: 100.0%;">Made by: Tek Narayan Yadav, Shivam Sharma, Abhishek Kumar Singh</div>`)[0];
                popup_7fe1a91a22632c068d6f71be78856af5.setContent(html_15d1f7b0d948e96ca81b6f3120c9a0d4);
            
        

        marker_0ac6fc99d8457c628f77adad2c610a01.bindPopup(popup_7fe1a91a22632c068d6f71be78856af5)
        ;

        
    
    
            marker_0ac6fc99d8457c628f77adad2c610a01.bindTooltip(
                `<div>
                     Credits 🏆
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>