<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_276d14b1eef56db7962ea7f277fa4db3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_276d14b1eef56db7962ea7f277fa4db3" ></div>
        
</body>
<script>
    
    
            var map_276d14b1eef56db7962ea7f277fa4db3 = L.map(
                "map_276d14b1eef56db7962ea7f277fa4db3",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 3,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a58b6b06ecf9f854de7aa7a5120467e4 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a58b6b06ecf9f854de7aa7a5120467e4.addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
            var marker_2f4a3ccb8c142a185c7f1dc875ddb5c3 = L.marker(
                [40.7128, -74.006],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_f20cb954c26d5d7ee24f2456219e1806 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9e8d4daf4e8f017fb1f63c53abbd4b39 = $(`<div id="html_9e8d4daf4e8f017fb1f63c53abbd4b39" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to New York! 🌍</div>`)[0];
                popup_f20cb954c26d5d7ee24f2456219e1806.setContent(html_9e8d4daf4e8f017fb1f63c53abbd4b39);
            
        

        marker_2f4a3ccb8c142a185c7f1dc875ddb5c3.bindPopup(popup_f20cb954c26d5d7ee24f2456219e1806)
        ;

        
    
    
            marker_2f4a3ccb8c142a185c7f1dc875ddb5c3.bindTooltip(
                `<div>
                     Hint for Q1
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_a39700f4cadffe76154384e4586fab2e = L.marker(
                [48.8566, 2.3522],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_9e35a16e2cffe7f3df18ea8a23dbb36a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_be8e3eca7988e07a9e74ae4664362f22 = $(`<div id="html_be8e3eca7988e07a9e74ae4664362f22" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Paris! 🌍</div>`)[0];
                popup_9e35a16e2cffe7f3df18ea8a23dbb36a.setContent(html_be8e3eca7988e07a9e74ae4664362f22);
            
        

        marker_a39700f4cadffe76154384e4586fab2e.bindPopup(popup_9e35a16e2cffe7f3df18ea8a23dbb36a)
        ;

        
    
    
            marker_a39700f4cadffe76154384e4586fab2e.bindTooltip(
                `<div>
                     Hint for Q2
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b985a1769d51aa4eece59bd38b854543 = L.marker(
                [35.6895, 139.6917],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_05556e69906bc2e40713337b42bc4608 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_10b346f3ead5f94d123b85132c7fb9cb = $(`<div id="html_10b346f3ead5f94d123b85132c7fb9cb" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Tokyo! 🌍</div>`)[0];
                popup_05556e69906bc2e40713337b42bc4608.setContent(html_10b346f3ead5f94d123b85132c7fb9cb);
            
        

        marker_b985a1769d51aa4eece59bd38b854543.bindPopup(popup_05556e69906bc2e40713337b42bc4608)
        ;

        
    
    
            marker_b985a1769d51aa4eece59bd38b854543.bindTooltip(
                `<div>
                     Hint for Q3
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b9b76abeab9b5f800249235d753e25f8 = L.marker(
                [40.7128, -74.006],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_f0135db6d2fc4d35a23901e2ec89e762 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_720a6e504d0c0d5b590067509bc79309 = $(`<div id="html_720a6e504d0c0d5b590067509bc79309" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to New York! 🌍</div>`)[0];
                popup_f0135db6d2fc4d35a23901e2ec89e762.setContent(html_720a6e504d0c0d5b590067509bc79309);
            
        

        marker_b9b76abeab9b5f800249235d753e25f8.bindPopup(popup_f0135db6d2fc4d35a23901e2ec89e762)
        ;

        
    
    
            marker_b9b76abeab9b5f800249235d753e25f8.bindTooltip(
                `<div>
                     Hint for Q4
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_5c860b91066c9b1d655dd8d2a912dc8f = L.marker(
                [48.8566, 2.3522],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_d242e6bb34abfadc38c326d3c2f8fbb6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_993ae7a00da7d04215a76f30c9048af3 = $(`<div id="html_993ae7a00da7d04215a76f30c9048af3" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Paris! 🌍</div>`)[0];
                popup_d242e6bb34abfadc38c326d3c2f8fbb6.setContent(html_993ae7a00da7d04215a76f30c9048af3);
            
        

        marker_5c860b91066c9b1d655dd8d2a912dc8f.bindPopup(popup_d242e6bb34abfadc38c326d3c2f8fbb6)
        ;

        
    
    
            marker_5c860b91066c9b1d655dd8d2a912dc8f.bindTooltip(
                `<div>
                     Hint for Q5
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_8b7d6b02cab93cf56ba9f16149a5121e = L.marker(
                [0.0, 0.0],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_55a01ff4134b5a769ed7de7388cdcca0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e221c5b6f186e16ed95901081560629f = $(`<div id="html_e221c5b6f186e16ed95901081560629f" style="width: 100.0%; height: 100.0%;">Rounds Played: 0, Score: 0 🎯</div>`)[0];
                popup_55a01ff4134b5a769ed7de7388cdcca0.setContent(html_e221c5b6f186e16ed95901081560629f);
            
        

        marker_8b7d6b02cab93cf56ba9f16149a5121e.bindPopup(popup_55a01ff4134b5a769ed7de7388cdcca0)
        ;

        
    
    
            marker_8b7d6b02cab93cf56ba9f16149a5121e.bindTooltip(
                `<div>
                     Your Score
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c40c78c497a5e3f4105bed65d77bea13 = L.marker(
                [10.0, 0.0],
                {
}
            ).addTo(map_276d14b1eef56db7962ea7f277fa4db3);
        
    
        var popup_1014d8d8aa0abed059958694eb1d3dce = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_803e0381ba5ee16a1865e22624e05833 = $(`<div id="html_803e0381ba5ee16a1865e22624e05833" style="width: 100.0%; height: 100.0%;">Made by: Abhishek Singh</div>`)[0];
                popup_1014d8d8aa0abed059958694eb1d3dce.setContent(html_803e0381ba5ee16a1865e22624e05833);
            
        

        marker_c40c78c497a5e3f4105bed65d77bea13.bindPopup(popup_1014d8d8aa0abed059958694eb1d3dce)
        ;

        
    
    
            marker_c40c78c497a5e3f4105bed65d77bea13.bindTooltip(
                `<div>
                     Credits 🏆
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>