<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1410afc0d7faaceff5eb13165a14f964 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1410afc0d7faaceff5eb13165a14f964" ></div>
        
</body>
<script>
    
    
            var map_1410afc0d7faaceff5eb13165a14f964 = L.map(
                "map_1410afc0d7faaceff5eb13165a14f964",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 3,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_d9e7f5a76ffda0ca5030494f9ac1af3c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_d9e7f5a76ffda0ca5030494f9ac1af3c.addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
            var marker_733a1522e7a609c85ba9e2a274fb298a = L.marker(
                [40.7128, -74.006],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_58310ef3ce24330ffc834df85a740bb7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_84170356a4ff64655f1de9f7aae01095 = $(`<div id="html_84170356a4ff64655f1de9f7aae01095" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to New York! 🌍</div>`)[0];
                popup_58310ef3ce24330ffc834df85a740bb7.setContent(html_84170356a4ff64655f1de9f7aae01095);
            
        

        marker_733a1522e7a609c85ba9e2a274fb298a.bindPopup(popup_58310ef3ce24330ffc834df85a740bb7)
        ;

        
    
    
            marker_733a1522e7a609c85ba9e2a274fb298a.bindTooltip(
                `<div>
                     Hint for Q1
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_401e002c8fd8611973e850218e0683b6 = L.marker(
                [35.6895, 139.6917],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_80cb4f218e199926bf67003425d0d930 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d30a88718b562777395d0dd3a9da2157 = $(`<div id="html_d30a88718b562777395d0dd3a9da2157" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Tokyo! 🌍</div>`)[0];
                popup_80cb4f218e199926bf67003425d0d930.setContent(html_d30a88718b562777395d0dd3a9da2157);
            
        

        marker_401e002c8fd8611973e850218e0683b6.bindPopup(popup_80cb4f218e199926bf67003425d0d930)
        ;

        
    
    
            marker_401e002c8fd8611973e850218e0683b6.bindTooltip(
                `<div>
                     Hint for Q2
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_cb3e3da5bd48ad47cecb2cf04528a2a8 = L.marker(
                [35.6895, 139.6917],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_8288517a245b23a62f379f4e63de5db4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5a773b93af9a14e86c2ce4de348d443d = $(`<div id="html_5a773b93af9a14e86c2ce4de348d443d" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Tokyo! 🌍</div>`)[0];
                popup_8288517a245b23a62f379f4e63de5db4.setContent(html_5a773b93af9a14e86c2ce4de348d443d);
            
        

        marker_cb3e3da5bd48ad47cecb2cf04528a2a8.bindPopup(popup_8288517a245b23a62f379f4e63de5db4)
        ;

        
    
    
            marker_cb3e3da5bd48ad47cecb2cf04528a2a8.bindTooltip(
                `<div>
                     Hint for Q3
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_04b35114d309ae806710a2f995de3d2c = L.marker(
                [40.7128, -74.006],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_b414ef2b74c5159fd3ee5b6fc3924020 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_35a9d0a64bf4d44ee8335aa6dd783154 = $(`<div id="html_35a9d0a64bf4d44ee8335aa6dd783154" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to New York! 🌍</div>`)[0];
                popup_b414ef2b74c5159fd3ee5b6fc3924020.setContent(html_35a9d0a64bf4d44ee8335aa6dd783154);
            
        

        marker_04b35114d309ae806710a2f995de3d2c.bindPopup(popup_b414ef2b74c5159fd3ee5b6fc3924020)
        ;

        
    
    
            marker_04b35114d309ae806710a2f995de3d2c.bindTooltip(
                `<div>
                     Hint for Q4
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_91f080ca73ab1d2d9b2b577081f7003d = L.marker(
                [30.0444, 31.2357],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_70f7331e777aa5972026c415cfe93351 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d607f7add8cc337e4e654061c0a60df = $(`<div id="html_3d607f7add8cc337e4e654061c0a60df" style="width: 100.0%; height: 100.0%;">Hint: This question might be related to Cairo! 🌍</div>`)[0];
                popup_70f7331e777aa5972026c415cfe93351.setContent(html_3d607f7add8cc337e4e654061c0a60df);
            
        

        marker_91f080ca73ab1d2d9b2b577081f7003d.bindPopup(popup_70f7331e777aa5972026c415cfe93351)
        ;

        
    
    
            marker_91f080ca73ab1d2d9b2b577081f7003d.bindTooltip(
                `<div>
                     Hint for Q5
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_5b7b6d36af8ef77b1180c652a3875cd1 = L.marker(
                [0.0, 0.0],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_224455e4a8a01df93b3e924779b8dffd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_13bb9d571c021fcaf18104b54f1bf7df = $(`<div id="html_13bb9d571c021fcaf18104b54f1bf7df" style="width: 100.0%; height: 100.0%;">Rounds Played: 0, Score: 0 🎯</div>`)[0];
                popup_224455e4a8a01df93b3e924779b8dffd.setContent(html_13bb9d571c021fcaf18104b54f1bf7df);
            
        

        marker_5b7b6d36af8ef77b1180c652a3875cd1.bindPopup(popup_224455e4a8a01df93b3e924779b8dffd)
        ;

        
    
    
            marker_5b7b6d36af8ef77b1180c652a3875cd1.bindTooltip(
                `<div>
                     Your Score
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_d925f844aa145db8712379db4c22e679 = L.marker(
                [10.0, 0.0],
                {
}
            ).addTo(map_1410afc0d7faaceff5eb13165a14f964);
        
    
        var popup_20a25c44f24610d5f21a46df38fd5ce0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_28b36eaf4146016ddf5cabdb6846d01e = $(`<div id="html_28b36eaf4146016ddf5cabdb6846d01e" style="width: 100.0%; height: 100.0%;">Made by: Abhishek Singh</div>`)[0];
                popup_20a25c44f24610d5f21a46df38fd5ce0.setContent(html_28b36eaf4146016ddf5cabdb6846d01e);
            
        

        marker_d925f844aa145db8712379db4c22e679.bindPopup(popup_20a25c44f24610d5f21a46df38fd5ce0)
        ;

        
    
    
            marker_d925f844aa145db8712379db4c22e679.bindTooltip(
                `<div>
                     Credits 🏆
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>